@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AeonikLight';
  src: url('./src/assets/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikBold';
  src: url('./src/assets/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FhlecturistBold';
  src: url('./src/assets/fonts/fhlecturistest-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GatteRegular';
  src: url('./src/assets/fonts/Gatte-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
